import { render, screen } from '@testing-library/react';
import { describe, expect, test } from 'vitest';

import { ComponentName } from './ComponentName';

describe('ComponentName', () => {
  test('renders with data-testid', async () => {
    const dataTestId = 'sample-test-id';
    render(<ComponentName data-testid={dataTestId} />);
    await screen.findByTestId(dataTestId);
  });

  test('renders snapshot', async () => {
    const { container } = render(<ComponentName />);
    expect(container).toMatchSnapshot();
  });
});
