import { Meta, StoryObj } from '@storybook/react';

import { ComponentName, ComponentNameProps } from './ComponentName';

type Story = StoryObj<typeof ComponentName>;

const meta: Meta = {
  component: ComponentName,
  title: 'Core/Components/ComponentName',
};

export default meta;

export const Default: Story = {
  render: (args: ComponentNameProps) => <ComponentName {...args} />,
};
