@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #818cf8; /* Indigo 500 */
    --color-primary-disabled: #e0e7ff; /* Indigo 50 */
    --color-secondary: #4b5563; /* Slate 600 */
    --color-secondary-disabled: #cbd5e1; /* Slate 300 */
    --color-success: #22c55e; /* Green 500 */
    --color-success-disabled: #ecfce7; /* Green 50 */
    --color-warning: #fbbf24; /* Yellow 500 */
    --color-warning-disabled: #fffbeb; /* Yellow 50 */
    --color-danger: #ef4444; /* Red 500 */
    --color-danger-disabled: #fef2f2; /* Red 50 */
    --color-divider: #e2e8f0; /* Slate 200 */
    --color-accent: #f9fafb; /* Slate 50 */
    --color-backdrop: #020617; /* Slate 950 */
    --color-letter-title: #1f2937; /* Slate 800 */
    --color-letter-body: #475569; /* Slate 600 */
    --color-letter-caption: #6b7280; /* Slate 400 */
    --color-letter-disabled: #94a3b8; /* Slate 300 */
    --color-letter-inverted: #f1f5f9; /* Slate 100 */

    /* Hover color tokens */
    --color-primary-hover: #6366f1; /* Indigo 600 */
    --color-secondary-hover: #374151; /* Slate 700 */
    --color-success-hover: #16a34a; /* Green 600 */
    --color-warning-hover: #f59e0b; /* Yellow 600 */
    --color-danger-hover: #dc2626; /* Red 600 */
  }

  .dark {
    --color-primary: #818cf8; /* Indigo 500 */
    --color-primary-disabled: #c7d2fe; /* Indigo 300 */
    --color-secondary: #94a3b8; /* Slate 400 */
    --color-secondary-disabled: #6b7280; /* Slate 300 */
    --color-success: #16a34a; /* Green 600 */
    --color-success-disabled: #22c55e; /* Green 500 */
    --color-warning: #f59e0b; /* Yellow 600 */
    --color-warning-disabled: #fbbf24; /* Yellow 500 */
    --color-danger: #dc2626; /* Red 600 */
    --color-danger-disabled: #ef4444; /* Red 500 */
    --color-divider: #475569; /* Slate 600 */
    --color-accent: #1f2937; /* Slate 800 */
    --color-backdrop: #f1f5f9; /* Slate 100 */
    --color-letter-title: #f1f5f9; /* Slate 100 */
    --color-letter-body: #94a3b8; /* Slate 400 */
    --color-letter-caption: #6b7280; /* Slate 300 */
    --color-letter-disabled: #6b7280; /* Slate 300 */
    --color-letter-inverted: #020617; /* Slate 950 */

    /* Hover color tokens */
    --color-primary-hover: #6366f1; /* Indigo 600 */
    --color-secondary-hover: #6b7280; /* Slate 300 */
    --color-success-hover: #22c55e; /* Green 500 */
    --color-warning-hover: #fbbf24; /* Yellow 500 */
    --color-danger-hover: #ef4444; /* Red 600 */
  }
}
